// 存放色票

$primary-color: #eee;
$secondary-color: #eee;
$success-color: #eee;
$danger-color: #eee;
$warning-color: #eee;
$info-color: #eee;
$light-color: #eee;
$dark-color: #eee;
$muted-color: #eee;

$highlight-color: #ffcc00;
$main-bg-color: #000;

// 命名待修改
$main: #f50057;
$green: #42b883;
$dim: #202040;
$light-grey: #5b5656;

// 暫存些可能會用到的顏色
// #ffa41b
