/* view-point */
$max-view-point: 1480px;
$max-content-view-point: 1140px;

/* area-gap */
$normal-gap: 1.5rem;

/* z-index */
$the-nav-z-index: 50;
$the-nav-side-bar-z-index: 350;
$google-map-z-index: 100;
$light-box-bg-z-index: 150;
$light-box-content-z-index: 250;

/* scroll-bar */
$scroll-bar-bg: #888;
